/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background-size: cover;
	position: relative;
	min-height: 100vh;
	background-image: url(home-background.jpg);
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 1em 2em 1em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background: rgb(200, 198, 198);
	padding: 1em 1em;

	}

h1 {
	width: 15em;
	}

h2, h3, h4 {
		font-weight: bold;
	}

h2 {
	font-size: 2.5em;
	margin: 0.5em 0em 0.5em;
	font-family: sans-serif; 
	}
	
h3 {
	font-size: 1.5em;
	margin: 1em 0em 0.5em;
	font-family: sans-serif;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
	font-family: sans-serif;
	margin-bottom: 1em;
}
ul{
	margin-bottom:2em;
}
figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 3em 0em;
}	

main.menu ul li {
		margin: 1em 0em 2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		list-style-type: none;
		font-family: sans-serif;
}	

p {
	margin-top: 1em;
	margin-bottom: 1em;
	}
	
p.description {
	grid-column: 1/2;
	margin: 0.15em;
	}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(255, 0, 0);
	text-align: right;
	margin: 0em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.5em;
	list-style-type: none;
	}
	
nav ul li a {
	color: rgb(255, 255, 0);
	background-color: rgb(0, 30, 255);
	padding: 0.5em 0.5em 0.5em;
	font-family: sans-serif;  
	}
	

p.slogan {
	font-family: serif;  
    font-style: italic; 
	font-style: bold;
	margin: 2em 0em 1em;
	color: rgb(255, 255, 255);	
	font-size: 4em;
	}
	
footer {
  position: absolute;
  bottom: 1;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: rgb(255, 251, 0);
 
}

address {
	color: rgb(255, 119, 0);
	margin-left: 0em;
	font-family: sans-serif;  
	margin-bottom: 1em;
	}

footer p {
	margin: 0;
	font-family: sans-serif;  
}

